<nav class="navbar navbar-expand-lg bg-light">
    <a asp-controller="FoodTrucks" asp-action="Dashboard" class="nav-link rounded-right">
        <button class="btn btn-outline-primary">Dashboard</button>
    </a>

    <a asp-controller="FoodTrucks" asp-action="New" class="nav-link rounded-right">
        <button class="btn btn-outline-primary">New Truck</button>
    </a>
</nav>